<h1>List of Tweets</h1>

{{#each tweets as | tweet | }}
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-0">
    @{{ tweet.user }} · {{#if tweet.updatedAt}} 
    {{ date tweet.updatedAt }}
      {{ else }} 
    {{ date tweet.createdAt }}</li>
    {{/if}}</div>
  <div class="card-body">
    <p class="card-text">{{ tweet.message }}</p>
  </div>
  <div class="card-footer bg-transparent border-0">{{ tweet.likes }}</div>
  <a href="/tweets/{{tweet.id}}">Detail</a>
</div>
 {{/each}}




<a href="/tweets/new" class="btn btn-primary">Create a new Tweet</a>
