<h1>List of Tweets</h1>

<ul>
  {{#each tweets as | tweet | }}
  <li>Tweets de: {{ tweet.user }}</a></li>
  <li>{{ tweet.message }}</li>
  <li>
    {{#if tweet.updatedAt}} 
    {{ date tweet.updatedAt }}
      {{ else }} 
    {{ date tweet.createdAt }}</li>
    {{/if}}
    <a href="/tweets/{{tweet.id}}">Detail</a>
    <p></p>
  {{/each}}
</ul>




<a href="/tweets/new" class="btn btn-primary">Create a new Tweet</a>
