<h1>estas en list</h1>

<ul>
  {{#each tweets as | tweet | }}
  <li>Tweets de:<a href="/tweets/{{tweet.id}}"> {{ tweet.user }}</a></li>
  <li>
    {{#if tweet.updatedAt}} 
    {{ tweet.updatedAt }}
      {{ else }} 
    {{ tweet.createdAt }}</li>
    {{/if}}
  {{/each}}
</ul>


<a href="/tweets/new">Create a new Tweet</a>
